@charset 'utf-8';
body{
 font-size:16px;
 color: navy;
}
a{text-decoration:none;
	display:block;
	float:left;
	text-align:center;
	font-size:18px;
	line-height:30px;
	height:30px;
	font-size:20px;
	width:125px;
}
h1{
 text-align: center;
 font-family: '方正姚体，黑体，宋体';
 font-size:20px;
 font-style:oblique;
 color:darkgreen;
}
h2{
 font-family: '黑体';
 font-size:16px;
 font-style: normal;
 color: #099;
}
p{
 line-height: 2em;
 test-align:left;
}
#nav{
	line-height: 2em;
 	test-align:left;
	background-color:#0CF;
	 margin-left:15%;
	 margin-right:15%;
	 text-align:center;
	 font-size:18px;
	 width:750px;
	 height:30px;
}
.copyright{text-align:center;
	  border-bottom:10px;
}
div{
width:0;
height:0;
border:0px solid transparent;
border-top-color:#333;
}
#container{
	width:80%;
	margin:0px auto;
	padding:5px 20px;
	background-color:#CFF;
	min-height:1200px;
	border-bottom-style:hidden;
	}
li{
	 height:30px;
	 list-style-image:url("../images/dot.jpg");
	 line-height:30px;
	 border-bottom:#CCC dotted 1px;
 }
a:hover{
	background-color:#69F;
}